<p>login works!</p>
<label>Email</label>
<form [formGroup]="loginForms" (ngSubmit)="login()">
<input type="text" name="emailid" formControlName="emailid">

<label>Password</label>
<input type="text" name="pass" formControlName="pass">

<button type="submit">Submit</button>
<a [routerLink]="['/register']">Register</a>
</form>