<p>car-viewside works!</p>
<div class='container'>
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Brandname</th>
            <th>Modelname</th>
            <th>fueltype</th>
            <th>Seaters</th>
            <th>PerKmrate</th>
            <!-- <th>Flag</th> -->
            <th>Image</th>
            <th colspan='2'>Action</th>
        </tr>
        <tr *ngFor='let c of carviewData'>
            <td>{{c.carid}}</td>
            <td>{{c.brandname}}</td>
            <td>{{c.modelname}}</td>
            <td>{{c.fueltype}}</td>
            <td>{{c.seaters}}</td>
            <td>{{c.perkmrate}}</td>
            <td><img src={{c.carimage}} width='100' height='100'></td>
            <td><button [routerLink]="['/bookDetails',c.carid]">Edit</button></td>
        </tr>
    </table>
</div>