<p>addcar works!</p>
<form>
    <div class="form-row">   
        <label>Brand name </label>   
          <input type="text" class="form-control" name="brandname" [(ngModel)]="model.brandname"  #brandname="ngModel" ngModel>
          <!-- <small *ngIf="brandname.hasError('required') && brandname.touched" class="error">Please Enter Brandname</small> -->
     <!-- </div>  form-group end.// -->
    </div>
      <div class="form-row">
        <label>Model name</label>
          <input type="text" class="form-control"   name="modelname" [(ngModel)]="model.modelname" #modelname="ngModel"  ngModel >
          <!-- <small *ngIf="modelname.hasError('required') && modelname.touched" class="error">Please Enter Modelname</small> -->
      </div> <!-- form-group end.// -->
    <!-- form-row end.// -->
    <div class="form-group">  
      <label>Fuel Type</label>
      <select id="inputState" name="fueltype"  [(ngModel)]="model.fueltype" #type="ngModel"  ngModel>
        <option>Choose..</option>
        <option value="Pertrol" selected="">Petrol</option>
        <option value="Disel">Diesel</option>
      </select>
      <!-- <small *ngIf="type.hasError('required') && type.touched" class="error">Please Select Fuel Type</small> -->
    </div> <!-- form-group end.// -->
    <div class="form-group">
        <label>Seaters</label>
        <input type="number" class="form-control" placeholder="Seaters"  name="seaters" [(ngModel)]="model.seaters" #seaters="ngModel" ngModel>
        <!-- <small *ngIf="seaters.hasError('required') && seaters.touched" class="error">Please Enter Number of Seaters</small>  -->
    </div> <!-- form-group end.// -->        
  <div class="form-group">
    <label>Rent rate</label>
      <input class="form-control" type="text" name="perkmrate" [(ngModel)]="model.perkmrate" #perkmrate="ngModel" ngModel>
      <!-- <small *ngIf="perkmrate.hasError('required') && perkmrate.touched" class="error">Please Enter Rent rate</small>  -->
  </div>
  <div class="form-row">
        <label>Flag</label>
        <select  class="form-control" name="type"  [(ngModel)]="model.flag">  
        <option value="0" checked>0</option>
        <option value="1">1</option>
        </select>
  </div>
  <div class="form-group">
      <label>Car Image</label>
      <input type="file" #image accept="image/*" name="carimage"  (change)="onFileSelected($event.target.files)">
      <!-- <small *ngIf="carimage.hasError('required') && carimage.touched" class="error">Please Select Image</small> -->
      <!-- <input type="text" class="form-control" formControlName="carimage">   -->
  </div>
  
  <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" (click)="addcar()"> Add </button>
  </div> <!-- form-group// -->     
  </form>