<p>register works!</p>
<form [formGroup]="registerForms" (ngSubmit)="register()">
    <label for="">Firstname</label>
    <input type="text" name="firstname" formControlName="firstname">
    <label>lastname</label>
    <input type="text" name="lastname" formControlName="lastname">
    <label>Email</label>
    <input type="text" name="emailid" formControlName="emailid">
    <label>Password</label>
    <input type="text" name="pass" formControlName="pass">
    <button type="submit">Submit</button>
</form>