<p>book-details works!</p>
<!-- {{car|json}} -->
BrandName: <input type="text" #brandnm="ngModel" [(ngModel)]="car.brandname" name="brandname" required>
ModelName: <input type="text" #modelnm="ngModel" [(ngModel)]="car.modelname" name="modelname" required>
Fueltype: <input type="text" #fuelty="ngModel" [(ngModel)]="car.fueltype" name="fueltype" required>
Seaters: <input type="text" #seaters="ngModel" [(ngModel)]="car.seaters" name="seaters" required>
PerKM Charges: <input type="text" #perkmrate="ngModel" [(ngModel)]="car.perkmrate" name="perkmrate" required>
<img [src]="car.carimage" width="100" height="100">
<button type="submit">Submit</button>